{{#each collections}}

    {{#if collection}}
        <h2>
            Recent Activity for
            <a href="{{collectionUrl collection._id}}">
                {{ collection.name }}
            </a>
        </h2>
    {{else}}
        <h2>
           {{header}}
        </h2>
    {{/if}}

    {{#unlessEmpty recent_places}}

        <hr>

        <h3>
            <i class="fa fa-clock-o">
               Recent Places
            </i>
        </h3>

        <div class="alternate-colors">

            {{#each recent_places}}

                <div>

                    <a href="{{placeUrl collectionId _id}}">
                        {{{ dynamic_place . ../collection.place_template }}}
                    </a>

                    {{{ properties.description }}}

                    {{#if properties.image_url}}
                        <img src="{{properties.image_url}}" style="width: 100%;">
                    {{/if}}

                </div>

            {{/each}}

        </div>

    {{/unlessEmpty}}

    {{#unlessEmpty recent_posts }}

        <hr>

        <h3>
            <i class="fa fa-clock-o">
                Recent Posts
            </i>
        </h3>
        

        <div class="alternate-colors">

            {{#each recent_posts}}
                <div>
                    <h4>
                        <a href="{{postUrl collectionId _id}}">
                            {{title}}
                        </a>
                    </h4>

                    {{{ description }}}

                    {{#if image_url}}
                        <img src="{{image_url}}" style="width: 100%;">
                    {{/if}}
                </div>
            {{/each}}

        </div>

    {{/unlessEmpty}}

    {{#unlessEmpty recent_comments }}

        <hr>

        <h3>
            <i class="fa fa-clock-o">
                Recent Comments
            </i>
        </h3>

        <div class="alternate-colors">

            {{#each recent_comments}}
                <div>
                    <h4>
                        <a href="{{postUrl collectionId postId}}">
                            {{{text}}}
                        </a>
                    </h4>
                </div>
            {{/each}}

        </div>

    {{/unlessEmpty}}

{{/each}}